.sideFlap{
padding: 4%;
width: 185px;
height: 95vh;
background-image: linear-gradient(120deg, #62e4e9 0%, #3d7dc7 100%);
border-top-left-radius: 0px;
border-top-right-radius: 30px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 30px;
}

#navTabUl{
 margin-top: 105px;
}

.navTab{
text-align: center;
padding-top: 5%;
margin-bottom: 40%;
margin-top: 40px;
height: 39px;
width: 168px;
background-color: rgba(255, 255, 255, 0.945);
color: #3770aa;
font-family: 'Bitter', serif;
font-weight:bolder;
transition: color 0.4s;

border-top-left-radius: 0px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 0px;

box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
}

.icon-text {
  display: flex;
  align-items: center; 
  margin-left: 5px;
}

.icon {
  margin-left: 7px;
  width: 25px; 
  height: 25px; 
  margin-right: 10px; 
}

.icon.monCarnet{
  width: 32px; 
  height: 28px;
 
  
}


.navTab:hover{
color: #ffffff;
background-color: rgba(255, 255, 255, .15);
}

.icon.symptoCareLogo{
width: 40px; 
height: 40px;

}

.mainTitle{
font-weight:bolder;
text-shadow: rgb(85, 83, 81) 1px 15 5px;
background: linear-gradient(to left, rgb(166, 195, 202), rgb(7, 231, 145));
background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;    
 -webkit-text-stroke-width: 0.2px;
 -webkit-text-stroke-color: rgb(164, 188, 189);
font-size: x-large;
filter: brightness(1.60);
}
