/* Mon fichier Graph.css */

.Graph{
  
  
height: 510px;
width: 1000px;
margin-right: 470px;
margin-top: 215px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: rgba(7, 65, 210, 0.1) 0px 9px 30px;
  border-radius: 10px;

}

#imgGraph {
  width: 100%; /* Ajuste la largeur de l'image pour éviter le débordement */
  max-height: 100%; /* Ajuste la hauteur de l'image pour éviter le débordement */
  border-radius: 10px;
}
