/* Mon fichier SectionBottom.css */

.SectionBottom{

  
  
height: 250px;
width:300px;
margin-right: 60px;
margin-top: 215px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: rgba(7, 65, 210, 0.1) 0px 9px 30px;
  border-radius: 10px;

}

#imgSectionBottom {
  width: 100%; /* Ajuste la largeur de l'image pour éviter le débordement */
  height: 100%; /* Ajuste la hauteur de l'image pour éviter le débordement */
  border-radius: 10px;
}
