.login-container {
  background-color: #050505;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start; /* Aligner les éléments en haut du conteneur */
  align-items: center;
}

.title-login {
  margin-bottom: 100px;
  margin-top: 20px;
}

.title-page-login {
  font-size: 60px;
  font-weight: bolder;
  text-shadow: rgb(85, 83, 81) 1px 15 5px;
  background: linear-gradient(to left, rgb(27, 103, 122), rgb(7, 231, 145));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: rgb(164, 188, 189);
  filter: brightness(1.60);
}

.form-container-login {
  align-items: center;
  width: 400px;
  height: 400px;
  background: linear-gradient(#62e4e9 0%, #3d7dc7 100%) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  opacity: 0.9;
  border: 5px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 60px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 100% 100%;
  animation: gradient 5s ease infinite;
}

.form-container-login h2 {
  text-align: center;
}

.form-container-login button:active {
    scale: 0.95;
}

.form-container-login .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container-login .form-group-login {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container-login .form-group-login label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #fcfcfc;
    font-weight: 600;
    font-size: 13px;
}

.form-container-login .form-group-login input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #050505;
    font-family: inherit;
    border: 1px solid #414141;
}

.form-container-login .form-group-login input::placeholder {
    opacity: 0.5;
}

.form-container-login .form-group-login input:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container-login .form-submit-btn-login {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #3b5c6b;
    font-weight: 600;
    width: 40%;
    background: #92ebd79f;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 30px;
}

.title-form-login{
  color: white;
  font-size: 40px;
  font-weight: bolder;
}

.form-container-login .form-submit-btn-login:hover {
    background-color: #fff;
    border-color: #fff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    border-color: #62e4e9; /* Ajout de la couleur de la bordure transparente au début */
  }

  50% {
    background-position: 100% 50%;
    border-color: #e81cff91; /* Modification de la couleur de la bordure à mi-chemin */
  }

  100% {
    background-position: 0% 50%;
    border-color: #92ebd79f; /* Retour à la couleur de la bordure transparente à la fin */
  }
}
